@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box
}

body{
    font-family: 'Roboto', sans-serif;
}

.material-icons{
    color:royalblue
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: centre;
    height: 70px;
    padding: 15px;
}

.header_left{
    display: flex;
    align-items: center;
}

.header_left img{
    width:120px;
    margin-left: 25px;
    height:30px;
}

.header i{
    padding: 0 8px;
    cursor: pointer;
}

.header_search form{
    display: flex;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    height: 30px;
}

.header_search input{
    width:500px;
    padding: 10px;
    margin: 0;
    border: none;
    border-radius: 8px;
    height:100%;
}

.header_search button{
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
}

.main_body{
    height: calc(100vh - 70px);
    display: flex;    
}

.sidebar{
    height:100%;
    width:230px;
    background-color: white;
}

.sidebar_categories{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidebar_category{
    display: flex;
    align-items: centre;
    padding: 10px 20px;
}

.sidebar_category span{
    margin-left: 14px;
}

.sidebar_category span:hover{
    font-size: 17px;
    cursor: pointer;
    color:darkblue;
}

hr{
    height:0.5px;
    background-color: blue;
    border: none;
}

.videos{
    background-color: #f9f7f9;
    width: 100%;
    height:120%;
    padding: 15px 15px;
    border-top: 1.5px solid darkblue;

}

h4{
    margin-bottom: 10px;
    font-size: 17px;
}    

.videos_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video{
    width: 300px;
    margin-bottom: 30px;
}

.video_thumbnail{
    width: 100%;
    height: 170px;
}

.video_thumbnail img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video_details{
    display: flex;
    margin-right: 10px;
}

.title{
    display: flex;
    flex-direction: column;
}

.title h3{
    font-size: 15px;
    margin-bottom: 2px;
    margin-top: 7px;
}

.title a, span{
    text-decoration: none;
    color: black;
}

.title i{
    padding: 5px 10px;
   align-items: center;
}  

small{
    display: inline-flex; 
    align-items: center;
}

.author img{
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 60%;
    margin-right: 12px;
    margin-top: 6px;
}

.drop-down-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-content{
    display: flex;
    align-items: center;
    padding: 5px;
}

.dropdown-content-background{
    background-color:lightblue;
    padding: 10px;
    border-radius: 5px;
    z-index:2;
    display:none;
}

.dropdown-content i{
    margin-right: 5px;
}

.dropdown-content span{
    margin-left: 5px;
    color:darkblue;
}

.show-dropdown{
    display: inline;
}

@media (max-width:450px) {
    .header_search{
        display: none;
    }

    .header_icons{
        display: none;
    }

    .header_icons .display-this{
        display: inline;
    }

    .sidebar{
        display: none;
    }
}


@media (max-width:800px) {
    .header_search{
        display: none;
    }

    .sidebar{
        display: none;
    }

    .show-sidebar{
        display: inline;
        position: fixed;
        top:4.4rem;
        height:auto;
    }
}

@media (max-width:945px) {
    .header_search input{
        width:300px;
    }
}

.channel-art img{
    width: 1250px;
    height: 230px;
  }
  
  .channel-art{
    width: 1300px;
    height: 220px;
  }
  
  .flex{
    display: flex;
  }
  
  .channel-header{
    margin: 20px 30px;
    align-items: center;
    justify-content: space-between;
  }
  
  .channel-img-title{
    align-items: center;
  }
  
  
  .channel-img-title .img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
  }
  
  .channel-img-title{
    align-items: center;
  }
  
  .channel-img-title .channel-image-texts{
    margin-left: 20px;
  }
  
  .channel-image-texts h4{
    font-size: 25px;
    font-weight: 500;
  }
  
  .channel-header-btns{
  display: flex;
  }
  
  .channel-header-btns a{
    display: flex;
    margin: 10px;
    text-decoration: none;
    padding: 10px 20px;
    }
  
  .channel-header-btns .channel-join{
    border: 2px solid rgb(0, 162, 255);
    color: rgb(0, 162, 255);
    border-radius:4px;
    transition: 0.5s;
  }
  
  .channel-header-btns .channel-join:hover{
    background-color:rgb(0, 162, 255);
    color: rgb(255, 255, 255);
    border-radius:4px;
  }
  
  .channel-header-btns .channel-subscribe{
    background-color: darkblue;
    color: white;
    border-radius:4px;
    height:30px;
    margin-top: 20px;
    text-align: center;
    padding:10px;
  }

  .channel-header-links{
    justify-content: space-evenly;
  }
  
  .channel-header-links a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: poppins;
    color: rgb(43, 43, 43);
    font-weight: 500;
  }
  
  .channel-intro-video {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    background-color: rgb(240, 240, 240);
  }
  
  .channel-intro-video video{
    width: 400px;
    height: 200px;
    object-fit: cover;
  }
  
  .intro-contents{
    margin-left: 40px;
    /* margin-top: 20px; */
  }
  
  .intro-contents h3{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
  }
  
  .intro-contents p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
  }
  
  .intro-contents small{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(63, 63, 63);
  }
  
  .popular-video{
    align-items: center;
  
  }
  
  .popular-video h3{
    margin-left: 40px;  
  }
  
  .popular-video .play-all{
    margin-left: 40px;  
    align-items: center;
  }
  .play-all a{
    text-decoration: none;
    color: rgb(71, 71, 71);
  }
  
  @media screen and (max-width:425px){
    .channel-art img{
      width: 360px;
      height: 170px;
      object-fit: cover;
    }
    
    .channel-art{
      width: 360px;
      height: 170px;
    }
    
    
    .channel-header{
      margin: 20px 5px;
      align-items: center;
      justify-content: space-between;
    }
  
    .channel-img-title .img{
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50px;
    }
    
    .channel-image-texts span{
      font-size: 12px;
      font-weight: 500;
    }
  
    
    .channel-header-btns a{
      display: flex;
      margin: 2px;
      text-decoration: none;
      padding: 10px 20px;
      }
    
    .channel-header-btns .channel-subscribe{
      background-color: rgb(255, 0, 0);
      color: white;
      border-radius:4px;
      padding: 12px 20px;
    }
     
    .channel-intro-video {
      margin-top: 20px;
      padding: 3px;
      flex-direction: column;
      background-color: rgb(240, 240, 240);
    }
    
    .channel-intro-video video{
      width: 350px;
      height: 200px;
      object-fit: cover;
    }
    
    .intro-contents{
      margin-left: 10px;
    }
  
    
    .channel-header-links .dont-display-this{
      display: none;
    }
    
  }
  
.channel-header .subscribe-btn{
    background-color: darkblue;
    padding: 5px 14px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}



.about-div{
  padding: 30px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
.about-left{
  width: 50%;
}

.about-left h3{
  margin-bottom: 10px;
  font-weight: 400;
}

.about-left h4{
  margin-bottom: 10px;
  font-weight: 300;
}

.about-left .about-details{
  margin-top: 10px;
}

.about-left .about-details h4{
  margin-top: 30px;
  font-weight: 500;
}

.about-left .about-details .about-biz{

  display: flex;
}
.about-biz h3{
  font-size: 15px;
}

.about-biz .left-h4{
  padding-left: 45px;
  font-size: 15px;
}
.links{
  margin-top: 20px;
}

.links h4{
  font-weight: 400;
}

.links-content{
  padding-top: 10px;
}


.about-right{
  float: left;
  margin-right: 10px;
}

.about-right h4{
  font-weight: bolder;
}

.about-right h4, h5{
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: normal;
}


.sidebar_categories a{
  text-decoration: none;
}










/* Video Upload Page */
.upload-content{
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.right-video img{
  width: 150px;
}

.left-video{
  padding: 10px;
}

.left-video h4{
  font-size: 25px;
  font-weight: 500;
}

/* Title */

.left-video .input-div{
  border: 1px solid rgba(0, 0, 0, 0.411);
  padding: 15px 15px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input-div input{
  border: none;
  font-weight: bold;
  height: 40px;
  outline: none;
  width: 100%;
  font-size: 17px;
  font-family: poppins;
}
.input-div span{
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.616);
}


/* Description */

.left-video .desc-div{
  border: 1px solid rgba(0, 0, 0, 0.411);
  padding: 15px 15px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.desc-div textarea{
  border: none;
  padding: 10px;
  font-size: 17px;
  outline: none;
  width: 700px;
  height: 300px;
 
}
.input-div span{
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.616);
}


/* Thumbnail */

.left-video .thumb-div{
  /* border: 1px solid rgba(0, 0, 0, 0.411); */
  padding: 15px 15px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.thumb-div input{
  border: none;
  outline: none;
  padding: 10px;
 
}
.thumb-div span{
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.808);
}

/* Tags */

.left-video .tags-div{
  border: 1px solid rgba(0, 0, 0, 0.411);
  padding: 15px 15px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tags-div input{
  border: none;
  height: 40px;
  outline: none;
  width: 100%;
  font-weight: bold;
  font-family: poppins;
}
.tags-div p{
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.452);
  font-size: 12px;
}



/* Thumbnail */

.left-video .video-div{
  /* border: 1px solid rgba(0, 0, 0, 0.411); */
  padding: 15px 15px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.video-div input{
  border: none;
  padding: 10px;
 
}
.video-div span{
  margin-top: 0px;
  color: rgba(218, 218, 218, 0.808);
}


/* Right Section */
.right-video{
  padding: 20px;
  margin-right: 50px;
}
.r-thumb{
  width: 300px;
  border-radius: 10px;
  height: 300px;
  border-radius: 10px;
  background-color: rgba(214, 214, 214, 0.274);
}
.r-thumb .uploading-video{
  width: 100%;
  height: 49%;
  text-align: center;
  
  background-color: rgba(182, 182, 182, 0.308);
}

.uploading-video h5{
  padding-top: 50px;
  color: rgb(80, 80, 80);
}
.video-details{
  padding: 0;
  margin: 0;
  padding: 10px;
}

.video-details h5{
  margin-bottom: 0;
  margin-top: 0;
}

.video-details a{
  font-size: 13px;
}

.video-details h4{
  margin-bottom: 0;
  margin-top: 25px;
  font-weight: normal;
}

.video-details span{
  font-size: 13px;
}

.error-div{
  color: red;
  font-size: 13px;
  margin-top: 10px;
}

.upload-btn-div{
  width: 700px;
  margin-top: 10px;
}
.upload-btn{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(46, 46, 46);
  color: white;
  font-size: 15px;
  font-family: poppins;
  transition: 0.5s;
}
.upload-btn:hover{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid black;
  transform: translateX(5px);
  background-color: rgb(32, 32, 32);
  color: #fff;
  font-size: 15px;
  font-family: poppins;
}


@media (max-width: 768px) {
  .upload-content{
    flex-direction: column;
  }
  
  .r-thumb{
    width: auto;
    border-radius: 10px;
    height: 370px;
    border-radius: 10px;
    background-color: rgba(214, 214, 214, 0.274);
  }
  .r-thumb .uploading-video{
    width: 100%;
    height: 49%;
    text-align: center;
    
    background-color: rgba(182, 182, 182, 0.308);
  }

  .desc-div textarea{

    width: 450px;
   
  }

}




.file-input {
  display: inline-block;
  text-align: left;
  /* background: rgb(170, 108, 108); */
  padding: 16px;
  width: 450px;
  position: relative;
  align-items: center;
  border-radius: 3px;
  border: dashed black 2px;

}

.file-input > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  background: rgb(224, 224, 224);
  padding: 0px 2px;
  padding-top: 10px;
  border-radius: 2px;
  margin-right: 8px;
}

.file-input:hover > .button {
  /* background: dodgerblue; */
  /* color: white; */
}

.file-input > .label {
  color: #333;
  white-space: nowrap;
  opacity: .3;
}

.file-input.-chosen > .label {
  opacity: 1;
}