{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>
<body>
    <div class="container">
        <form method="POST" class="form-container">
            {% csrf_token %}
            {% include 'userauths/message.html' %}
            <h2 style="color: blue;">Login</h2>

            <!-- Email Input Field -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your email" required>
            </div>

            <!-- Password Input Field -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
            </div>

            <!-- Login Button -->
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
